[submodule "backend"]
	path = backend
	url = https://github.com/Luiz-H-Peres/picture-organiser-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/Luiz-H-Peres/picture-organiser-frontend
